@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .dir-rtl {
    direction: rtl;
  }
  .dir-ltr {
    direction: ltr;
  }
}

.spark-container {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 50;
}
